:root {
  --main-color: #28abe1;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: var(--main-color); */
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(255, 255, 255, 0.932);
  position: absolute;
  z-index: 10;
}

a {
  text-decoration: none;
  color: #000;
}

.c-homepage-banner__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  font-size: 1.5rem;
  transform: translate(20%, -20%);
}

.c-homepage-banner__heading {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: 9;
}

header .logo {
  height: 40px;
}

nav ul {
  display: flex;
  font-size: 1.2rem;
}

nav li {
  list-style: none;
  margin-right: 25px;
}

nav li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
  padding: 2px 5px;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: border 0.2s ease;
}

nav li a:hover {
  border-color: var(--main-color);
}

section {
  scroll-snap-align: start;
}

section.intro {
  font-size: 1.5em;
  height: 100%;
  width: 100%;
  /* position: absolute; */
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
}

section.intro canvas {
  position: absolute;
  z-index: 1;
}

section.intro .inner-container {
  max-width: 600px;
  color: #fff;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

.sub-nav ul {
  background: var(--main-color);
  margin: 0;
  padding: 15px;
}

.sub-nav a {
  color: #fff;
}

.intro .learn-btn {
  background: rgba(255, 255, 255, 0.74);
  color: black;
  padding: 5px 15px;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.news-blogs header {
  position: static;
  font-size: 1.3rem;
  padding-left: 20px;
}
.news-blogs {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
}
.news-blogs .card {
  margin: 10px;
  width: 50vw;
  max-width: 450px;
  min-width: 350px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px #00000083;
  /* padding-bottom: 3px; */
  cursor: pointer;
}

.news-blogs .img {
  width: 100%;
  height: 250px;
  background-size: cover;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.news-blogs .title {
  margin: 10px;
  padding-bottom: 10px;
}

.view-more-btn {
  font-size: 1.2rem;
  text-align: center;
  margin: 20px;
}
.view-more-btn a {
  background: #28a9e1e3;
  padding: 5px 15px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.big-info {
  width: 100%;
  min-height: 600px;
  background: var(--main-color);
  position: relative;
}

.big-info .bg-img {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 60%;
  background: url(./images/tuktuk.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.big-info .bg-gradient {
  position: absolute;
  /* left: -40%; */
  /* right: 40%; */
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    #28abe1 50%,
    #28a9e1b6 63%,
    #ffffff00 100%
  );
}

.big-info .container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  color: #fff;
  width: 50%;
  /* max-width: 500px; */
  padding: 15px;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.big-info a {
  color: #fff;
  text-decoration: underline;
}

.products {
  max-width: 1150px;
  margin: 0 auto;
}
.products header {
  position: static;
  font-size: 1.3rem;
}
.products .card h2 {
  margin: 5px;
  text-align: center;
}
.products .card {
  margin: 10px;
  width: 30vw;
  max-width: 350px;
  min-width: 340px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0px 1px 6px 0px #00000083;
  padding-bottom: 3px;
  cursor: pointer;
}

 .title {
  font-weight: normal;
}

.products .img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
.news-blogs .title {
  margin: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  background: var(--main-color);
  color: #fff;
}

footer a {
  color: #fff;
}
footer main span {
  display: flex;
  justify-content: center;
  margin: 7px 10px;
}

footer .contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer img {
  margin-right: 5px;
  filter: invert(1);
  width: 22px;
  height: 22px;
}

footer .copyright {
  margin-bottom: 2px;
}

/* responsive media queries */
@media (max-width: 700px) {
  header {
    padding-left: 5px;
    padding-right: 5px;
  }
  nav li {
    margin-right: 2px;
  }
  .news-blogs .cards-container {
    justify-content: center;
    margin: 0;
  }
  .c-homepage-banner__heading {
    font-size: 2rem;
    /* line-height: 2rem; */
  }
  .c-homepage-banner__description {
    transform: translate(0);
  }
  .big-info .container {
    font-size: 0.2rem;
    width: auto;
  }
  .cards-container {
    margin-left: 0;
  }
}
