:root {
  --main-color: #28abe1;
}
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: var(--main-color); */
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(255, 255, 255, 0.932);

}

a {
  text-decoration: none;
  color: #000;
}


header .logo {
  height: 40px;
}

nav ul {
  display: flex;
  font-size: 1.2rem;
}

nav li {
  list-style: none;
  margin-right: 25px;
}

nav li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
  padding: 2px 5px;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: border 0.2s ease;
}

nav li a:hover {
  border-color: var(--main-color);
}

section.team {
  max-width: 800px;
  margin: 0 auto;

}
.title-container {
  margin-left: 20px;
}

.title-container h1{
  font-weight: normal;
}
.title-container p {
  font-size: 1.2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 800px;
}

.card{
  /* background: coral; */
  margin: 12px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .photo {
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 5px;
}

.card p {
  margin: 2px;
  text-align: center;
  text-transform: capitalize;
}

.card .title {
  font-size: .8rem;
}

.card .name {
  font-size: 1.2rem;
  margin: 4px;
}

/* responsive media queries */
@media (max-width: 700px) {
  header {
    padding-left: 5px;
    padding-right: 5px;
  }
  nav li {
    margin-right: 2px;
  }
  .card-container {
    justify-content: center;
  }
 
}
