:root {
  --main-color: #28abe1;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: var(--main-color); */
  height: 100%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(255, 255, 255, 0.801);
  box-shadow: 0 2px 6px #00000078;
  margin-bottom: 20px;
}

header .logo {
  height: 40px;
}

nav ul {
  display: flex;
  font-size: 1.2rem;
}

nav li {
  list-style: none;
  margin-right: 25px;
}

nav li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
  padding: 2px 5px;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: border 0.2s ease;
}

nav li a:hover {
  border-color: var(--main-color);
}

section.product {
  /* margin-left: ; */
  min-height: 500px;
}

section.product {
  display: flex;
  font-size: 1.2rem;
}

.img-container {
  display: flex;
}

.img-container .img-list {
  margin-right: 10px;
}
.img-container .img-list img {
  width: 100px;
  cursor: pointer;
}

.img-list .selected {
  border: 2px solid var(--main-color);
  box-sizing: border-box;
  border-radius: 2px;
}

.img-list li {
  list-style: none;
}

.main-img-container {
  height: 600px;
  width: 50vw;
}

.main-img {
  height: auto;
  width: 100%;
}

.info-container {
  margin-left: 25px;
}

.info-container h1 {
  font-weight: 500;
  color: var(--main-color);
}

.info-container p {
  margin-left: 15px;
  font-size: 1.2rem;
}

.info-container h1 {
  font-size: 2rem;
  margin: 10px 20px;
}

section.details {
  background: #2885ab;
  padding: 10px 50px;
  color: #fff;
  font-size: 1.1rem;
  margin-top: 20px;
}

.description-container {
  display: flex;
  /* justify-content: space-around; */
}

.description-container ul {
  margin: 7px;
}

.description-container .bold {
  font-size: 1.3rem;
}

/* responsive media queries */
@media (max-width: 700px) {
  header {
    padding-left: 5px;
    padding-right: 5px;
  }
  nav li {
    margin-right: 2px;
  }
  section.product {
    flex-direction: column;
    margin-left: -25px;
    font-size: 1.1rem;
  }
  .main-img-container {
    height: auto;
    width: 75vw;
  }

  .img-container .img-list img {
    width: 15vw;
  }
  .description-container {
    flex-direction: column;
  }
  section.details {
    padding: 5px 10px;
    font-size: 1rem;
  }
  .description-container .bold {
    font-size: 1.1rem;
  }
}
