:root {
  --main-color: #28abe1;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: var(--main-color); */
  height: 100%;
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(255, 255, 255, 0.801);
  position: absolute;
  z-index: 10;
}

header .logo {
  height: 40px;
}

nav ul {
  display: flex;
  font-size: 1.2rem;
}

nav li {
  list-style: none;
  margin-right: 25px;
}

nav li a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 500;
  box-sizing: border-box;
  padding: 2px 5px;
  border: 2px solid transparent;
  border-radius: 3px;
  transition: border 0.2s ease;
}

nav li a:hover {
  border-color: var(--main-color);
}

section.intro {
  background: url(https://image.shutterstock.com/z/stock-photo-gurgaon-india-aerial-shot-of-rapid-metro-tracks-in-urban-areas-of-delhi-ncr-gurgaon-noida-1378025831.jpg);
 background-position: center;
 background-size: cover;
  height: 100%;
  width: 100%;
  /* position: absolute; */
  top: 0;
  bottom: 0;
}
section.intro .overlay {
  content: "";
  background: #3cc78f75;
  height: inherit;
  width: inherit;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}
section.intro .inner-container {
  max-width: 400px;
  /* background: #000000b6; */
  color: #fff;
  padding: 10px;
}

.sub-nav ul {
  background: var(--main-color);
  margin: 0;
  padding: 15px;
}

.sub-nav a {
  color: #fff;
}
